<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.memu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MemuApplication"
        android:allowBackup="true"
        android:icon="@drawable/memo_logo_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/provider_paths3"
        android:roundIcon="@drawable/memo_logo_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
<!--        <activity android:name=".ui.fragments.SearchActivity"></activity>-->

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="xxx6c41xxx6ec601xxxd4xxxa2" />
    <activity android:name=".ui.fragments.MainActivity">

    </activity>

        <activity
            android:name=".ActivityMain"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDxi2FhOwA_lVtNRhp6AJuqLV0nOSYvzmM"/>
        <service
            android:name=".etc.GcmService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".etc.LoggingService"
            android:exported="false" />

        <activity
            android:name="com.iapps.logs.com.pascalabs.util.log.activity.ActivityPascaLog"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <receiver
            android:name=".bgTasks.LocationBroadCastReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"></receiver>

        <service android:name=".bgTasks.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".bgTasks.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>